<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let food of foods">
    <a href="" routerLink="/food/{{food.id}}">
    <img src="{{food.imageUrl}}" alt="food images">
    <div class="content">
      <div class="name">
        {{food.name}}
      </div>
      <span class="favorite {{food.favorite? '':'not'}}">♥</span>

    <div class="product-item-footer">
      <div class="origins">
        <span *ngFor="let origin of food.origins">
          {{origin}}
        </span>

      </div>
      <div class="cook-time">
        <span>🕐</span>
        {{food.cookTime}}
      </div>

    </div>
    <div class="price">
      {{food.price|currency}}
    </div>
    </div>
  </a>
  </li>
</ul>
